[Unit]
Description=Cryptocurrency Market Scanner Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/ec2-user/market-scanner/Project/aws_scanner/aws_scanner_service.py
WorkingDirectory=/home/ec2-user/market-scanner/Project
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target